@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

body {
  font-family: Raleway;
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}

.step-tab {
  display: none;
}

.step-group {
  text-align: center;
  margin-top: 40px;
}

button {
  background-color: #fd7d1a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

span.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fd7d1a;
  border: none;
  border-radius: 50%;
  display: inline-block !important;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #FD7D1A;
}

#cep-error {
  display: none;
}

.imgBudget {
  margin-bottom: 20px;
}

@media only screen and (max-width: 993px) {
  figure img {
    width: 75%;
    height: 75%;
  }

}

.grid {
  width: auto;
}

@media only screen and (max-width: 575px) {

  
  #grid {
    width: auto;
  }

  figure img {
    width: 40%;
    height: 40%;
  }

}

.verticalRadio {
  display: block;
  vertical-align: middle;
}

input[type="radio"] {
  position: absolute;
  margin-top: 8px;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hide {
  display: none;
}

input[type="radio"]+.fa,
input[type="radio"]+label>.fa {
  cursor: pointer;
}

input[type="radio"]+.fa-check-circle-o:before,
input[type="radio"]+label>.fa-check-circle-o:before {
  content: "\f10c";
}

input[type="radio"]:checked+.fa-check-circle-o:before,
input[type="radio"]:checked+label>.fa-check-circle-o:before {
  content: "\f05d";
}

#thanks img {
  padding-top: 2rem;
  width: 10%;
}

#thanks h5, p {
  color: rgb(77, 77, 77);
  text-align: center;
}